altgraph==0.16.1
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
future==0.17.1
idna==2.8
isodate==0.6.0
oauthlib==3.1.0
pefile==2019.4.18
PyInstaller==3.5
PyQt5==5.13.0
PyQt5-sip==4.19.18
PyQt5-stubs==5.13.0.1
PySocks==1.7.0
python-youtube==0.3.0
pytz==2019.2
pywin32-ctypes==0.2.0
requests==2.22.0
requests-oauthlib==1.2.0
responses==0.10.6
six==1.12.0
soupsieve==1.9.3
urllib3==1.25.3
youtube-transcript-api==0.1.7
